@import "../utils/mixins";

.page__navigation {
    align-items: center;
    @include flex-around($display:flex, $j-content:center);
    gap: 20px;
    padding: 94px 0 48px 0;
}

.page__navigation-text-one {
    border-radius: 4px;
    background-color: rgb(241, 239, 239);
    padding: 6px 25px;
    color: #212121;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    transition: color 0.1s linear, bg-color 0.3s linear, transform 0.3s linear, box-shadow 0.3s linear;
    &:hover {
        background-color: #2196F3;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        color: #FFF;
        transform: scale(1.2);
        animation: bg-color 5s infinite linear;
    }
}

.page__navigation-text-two {
    color: #212121;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background-color: rgb(241, 239, 239);
    padding: 6px 22px;
    transition: color 0.3s linear, bg-color 0.3s linear, transform 0.3s linear, box-shadow 0.3s linear;
    &:hover {
        background-color: #2196F3;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        color: #FFF;
        transform: scale(1.2);
        animation: bg-color 5s infinite linear;
    }
}

.page__navigation-text-three {
    color: #212121;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background-color: rgb(241, 239, 239);
    padding: 6px 22px;
    transition: color 0.3s linear, bg-color 0.3s linear, transform 0.3s linear, box-shadow 0.3s linear;
    &:hover {
        background-color: #2196F3;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        color: #FFF;
        transform: scale(1.2);
        animation: bg-color 5s infinite linear;
    }
}

.page__navigation-text-four {
    color: #212121;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background-color: rgb(241, 239, 239);
    padding: 6px 22px;
    transition: color 0.3s linear, bg-color 0.3s linear, transform 0.3s linear, box-shadow 0.3s linear;
    &:hover {
        background-color: #2196F3;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        color: #FFF;
        transform: scale(1.2);
        animation: bg-color 5s infinite linear;
    }
}

.page__navigation-text-five {
    color: #212121;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background-color: rgb(241, 239, 239);
    padding: 6px 22px;
    transition: color 0.3s linear, bg-color 0.3s linear, transform 0.3s linear, box-shadow 0.3s linear;
    &:hover {
        background-color: #2196F3;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        color: #FFF;
        transform: scale(1.2);
        animation: bg-color 5s infinite linear;
    }
}

@keyframes bg-color {
    0% {
        background-color: #2196F3;
    }
    45% {
        background-color: #8a16f7;
    }
    95% {
        background-color: #2156f3;
    }
}

.product__photo {
    position: relative;
    overflow: hidden;
}

.photo1 {
    transition: filter 0.5s ease;
    width: 370px;
    height: 294px;
}

.product__photo-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background-color: rgba(33, 150, 243, 0.90);
    padding: 114px 63px 63px 63px;
    opacity: 0;
    width: 322px;
    height: 190px;
    font-style: normal;
    line-height: 28px;
    letter-spacing: 0.54px;
    font-family: 'Roboto';
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.product__photo:hover .photo1 {
    filter: brightness(70%);
}

.product__photo:hover .product__photo-text {
    opacity: 1;
    transform: translateX(-50%) translateY(-100%);
}

.caption {
    flex-wrap: wrap;
    @include flex-around($display:flex, $j-content:center);
    gap: 20px;
}

.product {
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s linear;
    background: #FFF;
    &:hover {
        box-shadow: 0 0 10px 5px ;
        transform: scale(0.9) translateY(-10px);
        border: 1px solid #EEE;
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }
}

.product__title {
    font-size: 18px;
}

.product__text {
    font-size: 16px;
    color: #757575;
    padding: 19px 0 20px 0;
}

.product__texts {
    padding: 20px 0 0 24px;
}

@media (max-width: 1024px) {
    .caption {
        justify-content: flex-start;
    }
    .photo1 {
        width: 334px;
        height: 274px;
    }
}

@media (max-width: 480px) {
    .caption {
        justify-content: center;
    }
    .page__navigation {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-start;
    }
    .page__navigation-text-one {
        margin: 0;
    }
    .page__navigation-text-two {
        padding: 6px 30px;
        margin: 0;
    }
    .page__navigation-text-three {
        padding: 6px 30px;
        margin: 0;
    }
    .page__navigation-text-four {
        padding: 6px 30px;
        margin: 0;
    }
    .page__navigation-text-five {
        padding: 6px 30px;
        margin: 0;
    }
    .photo1 {
        width: 310px;
        height: 195px;
    }
    .product__photo-text {
        font-size: 17px;
        height: 134px;
        width: 310px;
    }
    .product__photo:hover .product__photo-text {
        opacity: 1;
        transform: translateX(-48%) translateY(-100%);
    }
}