@import "./components/header";
@import "./components/page";
@import "./components/footer";
@import "./utils/mixins";
@import "./utils/placeholders";

@media (max-width: 1024px) {
    .container {
        width: 768px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 480px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 320px;
    }
}