@import "../utils/mixins";
@import "../utils/placeholders";
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 24px 0 5px 0;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 93px;
  }
  &__content-top {
    width: 100%;
    display: flex;
    gap: 265px;
    align-items: center;
  }
}

.burger-menu {
  display: none;
}

.navigation {
  &__list {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  &__link {
    color: #000;
    transition: color 0.3s ease;
    position: relative;
    letter-spacing: 0.28px;
    line-height: normal;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    &::after {
      content: "";
      position: absolute;
      width: 90%;
      height: 3.6px;
      background-color: #2196f3;
      bottom: -20px;
      left: 2px;
      transform: scaleX(0);
      border-radius: 5px;
      transform-origin: bottom right;
      transition: transform 0.3s ease;
    }
    &:hover,
    &.active {
      color: #2196f3;
    }
    &:hover::after,
    &.active::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.address {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    &__link {
        color: #757575;
        fill: #757575;
        font-family: 'Roboto';
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
        display: flex;
        justify-content: center;
        gap: 10px;
        &:hover {
            transition: all 0.2s ease;
            fill: #2196F3;
            color: #2196F3;
        }
    }
}

.social__programs {
    display: none;
}

@media (max-width: 1024px) {
    .header {
        padding: 26px 0 2px 0;
        &__content {
            gap: 88px;
        }
        &__content-top {
            width: 100%;
            display: flex;
            gap: 120px;
            align-items: center;
          }
    }
    .address {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 10px;
        &__link {
            font-size: 12px;
        }
    }   
}

@media (max-width: 768px) {
    .header {
        padding: 16px 0;
    }
    .burger-menu {
        display: block;
        width: 24px;
        height: 16px;
        position: relative;
        cursor: pointer;
        & span, 
        &::before,
        &::after {
            position: absolute;
            height: 2px;
            width: 100%;
            transition: transform 0.3s linear;
            background-color: black;
        }
        &::before, 
        &::after {
            content: "";
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        & span {
            top: 50%;
            transform: scale(1) translate(0, -50%);
        }
        &._active {
            z-index: 20;
            span {
                transform: scale(0) translate(0, -50%);
            }
            &::before {
                top: 50%;
                transform: rotate(-45deg) translate(0, -50%);
            }
            &::after {
                bottom: 50%;
                transform: rotate(45deg) translate(0, 50%);
            }
        }
    }
    .header__content-top {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        background-color: white;
        transform: translate(-100%, 0px);
        transition: right 0.3s ease 0s;
        overflow: auto;
        &._active {
            transform: translate(0px, 0px);
        }
    }
    body._lock {
        overflow: hidden;
    }
    .navigation {
        padding: 48px 0 20px 40px;
        &__list {
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            gap: 32px;
            padding: 0;
        }
        &__link {
            font-family: 'Roboto';
            color: #212121;
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.28px;
            transition: all 0.2s linear 0.05s;
            &:hover {
                color: #2196F3;
                display: block;
                transform: scale(1.1);
            }
            &::after {
                display: none;
              }
        }
    }
    .contacts {
        padding: 0 0 48px 40px;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 64px;
    }
    .address {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column-reverse;
        gap: 30px;
        &__link {
            font-family: 'Roboto';
            color: #757575;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.28px;
            transition: all 0.2s linear;
            &:hover {
                color: #2196F3;
                transform: scale(1.1);
            }
            &-blue {
                font-size: 34px;
                color: #2196F3;
                transition: all 0.2s linear;
                &:hover {
                    color: #757575;
                    transform: scale(0.97);
                }
            }
        }
        &__link svg {
            display: none;
        }
    }
    .social__programs {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        &-link {
            color: #2196F3;
            font-family: 'Roboto';
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0.36px;
            &:hover {
                transform: scale(1.1);
                transition: all 0.2s ease;    
            }
        }
        &-line {
            width: 1px;
            height: 22px;
            background: rgba(33, 33, 33, 0.20);
        }
    }
}

@media (max-width: 480px) {
    .social__programs {
        &-link {
            font-size: 15px;
        }
    }
}