@import "../utils/mixins";

.team {
    background: #F5F4FA;
}

.team__title {
    padding: 94px 0 50px 0;
    color: #212121;
    text-align: center;
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.web {
    align-items: center;
    @include flex-around($display:flex, $j-content:center);
    gap: 30px;
    padding: 0 0 94px 0;
}

.card {
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    transition: transform 0.3s linear;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}

.card__photo {
    height: 274px;
    width: 270px;
}

.card__igor {
    color: #212121;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.card__product {
    color: #757575;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

.card__social-networks {
    align-items: center;
    @include flex-around($display:flex, $j-content:center);
    padding: 0 0 30px 0;
    gap: 5px;
}

.card__social {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    background-color: transparent;
    border-radius: 50%;
    fill: #AFB1B8;
    transition: transform 0.3s linear, bg-color 0.3s ease, fill 0.3s linear;
    &:hover {
        background-color: #2196F3;
        fill: #fff;
        transform: scale(1.1);
        animation: socialText 5s infinite;
    }
}

.card__social:hover .card__social-svg {
    fill: white;
}

@keyframes socialText {
    0% {
        background-color: #2196F3;
    }
    45% {
        background-color: #7f0bfc;
    }
    95% {
        background-color: #214ff3;
    }
}

.card__olga {
    color: #212121;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}
.card__frontend {
    color: #757575;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}
.card__mt {
    color: #212121;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}
.card__marketing {
    color: #757575;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}
.card__m {
    color: #212121;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}
.card__designer {
    color: #757575;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

@media (max-width: 1024px) {
    .web {
        flex-wrap: wrap;
    }
    .card__photo {
        height: 324px;
        width: 334px;
    }
}

@media (max-width: 480px) {
    .card__photo {
        height: 255px;
        width: 265px;
    }
}